In [6]:
import pandas as pd
import numpy as np
!pip install openpyxl



# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning and Data Mining
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_squared_error
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score

# Classification Algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.cluster import KMeans

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [7]:
df = pd.read_excel("psych-ther-ann-rep-tab-2014-15.xlsx")
df.head()

   Unnamed: 0 Unnamed: 1 Unnamed: 2
0         NaN        NaN        NaN
1         NaN        NaN        NaN
2         NaN        NaN        NaN
3         NaN        NaN        NaN
4         NaN        NaN        NaN

In [9]:
df = df.drop_duplicates()
df = df.replace(["", " ", "NA", "N/A", "-", None], np.nan)

# Impute numeric and categorical
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

df[num_cols] = df[num_cols].fillna(df[num_cols].median())
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])
df.head()

    Unnamed: 0  ...                                         Unnamed: 2
0          NaN  ...   IAPT Referrals and recovery indicators for ex...
33         NaN  ...                                        Description
34         NaN  ...  Referrals received, entering treatment and fin...
35         NaN  ...  Referrals received, entering treatment and fin...
36         NaN  ...  Referrals received, entering treatment and fin...

[5 rows x 3 columns]