In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.cluster import KMeans

from sklearn.metrics import (
    mean_squared_error, r2_score,
    accuracy_score, classification_report
)

In [2]:
df = pd.read_excel('data/table_1a_referrals_received_entering_finishing_treatment_commissioning_region_2014_15.xlsx')
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,"Table 1a: Referrals received, entering treatme...",NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,England,NaN,NaN,NaN,numbers
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,England total,NaN,1267193,815665,468881
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,London Commissioning Region,193280,124880,66395
10,NaN,NaN,Midlands and East of England Commissioning Region,350915,237190,124940
11,NaN,NaN,North of England Commissioning Region,421155,243215,143465
12,NaN,NaN,South of England Commissioning Region,300240,209535,133150
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Unknown,1600,845,930

In [3]:
header_row = 5
df = pd.read_excel(
    'data/table_1a_referrals_received_entering_finishing_treatment_commissioning_region_2014_15.xlsx', 
    header=header_row
)

df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,England total,NaN,1267193.0,815665.0,468881.0
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,London Commissioning Region,193280.0,124880.0,66395.0
5,NaN,NaN,Midlands and East of England Commissioning Region,350915.0,237190.0,124940.0
6,NaN,NaN,North of England Commissioning Region,421155.0,243215.0,143465.0
7,NaN,NaN,South of England Commissioning Region,300240.0,209535.0,133150.0
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Unknown,1600.0,845.0,930.0
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Data source: Improving Access to Psychological...,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,(1)Commissioning Region is based on Clinical C...,NaN,NaN,NaN,NaN
14,NaN,(2)Referrals with a referral received date in ...,NaN,NaN,NaN,NaN

In [4]:
# Drop rows that are completely empty
df = df.dropna(how="all")

# Drop columns that are completely empty
df = df.dropna(axis=1, how="all")

#Merge Unnamed:1 and 2 together and rename to 'Commissioning Region'
df['Commissioning Region'] = df.iloc[:, 0].fillna('') + ' ' + df.iloc[:, 1].fillna('')
df = df.drop(df.columns[[0, 1]], axis=1)

df.head(15)

,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4),Commissioning Region
2,1267193.0,815665.0,468881.0,England total
4,193280.0,124880.0,66395.0,London Commissioning Region
5,350915.0,237190.0,124940.0,Midlands and East of England Commissioning Re...
6,421155.0,243215.0,143465.0,North of England Commissioning Region
7,300240.0,209535.0,133150.0,South of England Commissioning Region
9,1600.0,845.0,930.0,Unknown
11,NaN,NaN,NaN,Data source: Improving Access to Psychological...
13,NaN,NaN,NaN,(1)Commissioning Region is based on Clinical C...
14,NaN,NaN,NaN,(2)Referrals with a referral received date in ...
15,NaN,NaN,NaN,(3)In order to enter treatment a referral must...
16,NaN,NaN,NaN,"(4)In order to finish a course of treatment, a..."
18,NaN,NaN,NaN,All figures except England totals are rounded ...
20,NaN,NaN,NaN,Please note: Subtotals may not add to total du...
22,NaN,NaN,NaN,"Copyright © 2015, Health and Social Care Infor..."

In [5]:
#Drop everything after first occurrence of 'Data source' in 'Commissioning Region' column
unknown_index = df[df['Commissioning Region'].str.contains('Data source', na=False)].index
if not unknown_index.empty:
    df = df.loc[:unknown_index[0]-1]
df.head(15)

,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4),Commissioning Region
2,1267193.0,815665.0,468881.0,England total
4,193280.0,124880.0,66395.0,London Commissioning Region
5,350915.0,237190.0,124940.0,Midlands and East of England Commissioning Re...
6,421155.0,243215.0,143465.0,North of England Commissioning Region
7,300240.0,209535.0,133150.0,South of England Commissioning Region
9,1600.0,845.0,930.0,Unknown

In [6]:
#Save cleaned dataframe to new excel file
df.to_excel('data/cleaned_table_1a.xlsx', index=False)