In [19]:
import pandas as pd

In [20]:
df = pd.read_excel('data/table_1b_referrals_treatment__general_ccg_2014_15.xlsx')
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,"Table 1b: Referrals received, entering treatme...",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,England,NaN,NaN,NaN,NaN,numbers
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,England total,NaN,NaN,1267193,815665,468881
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,00C,NHS Darlington CCG,1925,1310,885
10,NaN,NaN,00D,"NHS Durham Dales, Easington and Sedgefield CCG",5120,3420,2220
11,NaN,NaN,00F,NHS Gateshead CCG,5495,4200,3150
12,NaN,NaN,00G,NHS Newcastle North and East CCG,5140,3400,1745
13,NaN,NaN,00H,NHS Newcastle West CCG,4125,2485,1210
14,NaN,NaN,00J,NHS North Durham CCG,4550,3285,1965

In [ ]:
header_row = 5
df = pd.read_excel('data/table_1b_referrals_treatment__general_ccg_2014_15.xlsx',
    header=header_row
)

df.head(15)

In [ ]:
# Drop rows that are completely empty
df = df.dropna(how="all")

# Drop columns that are completely empty
df = df.dropna(axis=1, how="all")

#Drop row 2
df = df.drop(index=2)

#Rename Unnamed: 3 to 'CCG Name'
df = df.rename(columns={df.columns[2]: 'CCG Name'})

#Merge Unnamed:1 and 2 together and rename to 'CCG Code'
df['CCG Code'] = df.iloc[:, 0].fillna('') + ' ' + df.iloc[:, 1].fillna('')
df = df.drop(df.columns[[0, 1]], axis=1)

df.head(15)

In [ ]:
df.head(250)

In [ ]:
#Drop Lancashire Commissioning Hub and West Yorkshire Commissioning Hub rows
df = df[~df['CCG Name'].isin(['Lancashire Commissioning Hub', 'West Yorkshire Commissioning Hub'])]
df.head(250)

In [ ]:
#Drop everything after the first occurrence of 'Data Source' in 'CCG Code' column
unknown_index = df[df['CCG Code'].str.contains('Data source', na=False)].index
if not unknown_index.empty:
    df = df.loc[:unknown_index[0]-1]

#Put 'UNK' in CCG Code for rows where CCG Name is 'Unknown CCG'
df.loc[df['CCG Name'] == 'Unknown CCG', 'CCG Code'] = 'UNK'
df.head(250)

In [ ]:
#Save cleaned dataframe to new excel file
df.to_excel('cleaned_data/cleaned_table_1b.xlsx', index=False)