In [1]:
import pandas as pd

file_path = "psych-ther-ann-rep-tab-2014-15.xlsx"

xls = pd.ExcelFile(file_path)
print(xls.sheet_names)

['Introduction', 'Table 1a', 'Table 1b', 'Table 1c', 'Table 1d', 'Table 2a', 'Table 2b', 'Table 2c', 'Table 3', 'Table 4', 'Tables 5a-5b', 'Table 6', 'Table 7', 'Tables 8a-8b', 'Table 9a', 'Table 9b', 'Table 9c', 'Table 9d', 'Table 9e', 'Table 10a', 'Table 10b', 'Table 11a', 'Table 11b', 'Table 12a', 'Table 12b', 'Table 13a', 'Table 13b', 'Table 14a', 'Table 14b', 'Table 15', 'Table 16', 'Tables 17a-c', 'Table 18', 'Constructions', 'Derivations', 'Recovery Rules']

In [5]:
raw = pd.read_excel(file_path, sheet_name="Table 1a", header=None)
raw.head(20)   # inspect the first 20 rows

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Table 1a: Referrals received, entering treatme...",NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,England,NaN,NaN,NaN,numbers
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,England total,NaN,1267193,815665,468881
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,London Commissioning Region,193280,124880,66395
11,NaN,NaN,Midlands and East of England Commissioning Region,350915,237190,124940
12,NaN,NaN,North of England Commissioning Region,421155,243215,143465
13,NaN,NaN,South of England Commissioning Region,300240,209535,133150
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Unknown,1600,845,930
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Data source: Improving Access to Psychological...,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,(1)Commissioning Region is based on Clinical C...,NaN,NaN,NaN,NaN

In [14]:
header_row = 5# adjust based on what you saw in raw.head(20)

df = pd.read_excel(
    file_path,
    sheet_name="Table 1a",
    header=header_row
)

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,England total,NaN,1267193.0,815665.0,468881.0
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,London Commissioning Region,193280.0,124880.0,66395.0

In [15]:
# Drop rows that are completely empty
df = df.dropna(how="all")

# Drop columns that are completely empty
df = df.dropna(axis=1, how="all")


df.head()

,Unnamed: 1,Unnamed: 2,Referrals received(2),Referrals entering treatment(3),Referrals finishing a course of treatment(4)
2,England total,NaN,1267193.0,815665.0,468881.0
4,NaN,London Commissioning Region,193280.0,124880.0,66395.0
5,NaN,Midlands and East of England Commissioning Region,350915.0,237190.0,124940.0
6,NaN,North of England Commissioning Region,421155.0,243215.0,143465.0
7,NaN,South of England Commissioning Region,300240.0,209535.0,133150.0

In [12]:
# Pick a numeric column you know should have data
key_col = df.select_dtypes(include=["number"]).columns[0]
df = df[df[key_col].notna()]